<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjw.pojo.User">
	<select id="loginOneUser" parameterType="string" resultType="string">
		SELECT PASSWORD FROM JAMESUSER WHERE NAME=#{username}
	</select>
	
	<update id="registerOneUser" parameterType="User">
		UPDATE JAMESUSER SET question=#{question},answer=#{answer},nickname=#{nickname} WHERE name=#{username}
	</update>
	
	<select id="checkUsernameRepeat" parameterType="string" resultType="User">
		SELECT * FROM JAMESUSER WHERE NAME=#{username}
	</select>
	
	<select id="getPwdQuestion" parameterType="string" resultType="User">
		SELECT QUESTION FROM JAMESUSER WHERE NAME=#{username}
	</select>
	
	<select id="getPwdAnswer" parameterType="User" resultType="string">
		SELECT ANSWER FROM JAMESUSER WHERE NAME=#{username}
	</select>
	
	<update id="changePwd" parameterType="User">
		UPDATE JAMESUSER SET PASSWORD=#{password} WHERE NAME=#{username}
	</update>
	
	<select id="checkFriendnameRepeat" parameterType="string" resultType="User">
		SELECT * FROM RELATIONS WHERE USERNAME=#{friendname}
	</select>
	
	<insert id="addNewRelations" parameterType="map">
		INSERT INTO RELATIONS(username,friendname) VALUES (#{username},#{friendname})
	</insert>
	
	<select id="getNickname" parameterType="string" resultType="string">
		SELECT NICKNAME FROM JAMESUSER WHERE NAME=#{username}
	</select>
</mapper>